.main-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

button {
    margin-left: 5px;
}

.table-actions {
    width: 150px;
}

.btn {
    min-width: 33px;
}

.Cards{
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
}